.Sob{
    position: relative;
    margin-top: 100px;
    text-align: left;
    font-size: 20px;
    width: 1000px;
    left: 490px;
    top: -5px;   
    font-family: "verdana";
    font-size: 22px;
    text-align: center;
}
.Sobre{
    position: relative;
    margin-top: 16px;
    text-align: center;
    left: 30px;
}

.EcoGreen{
    position: relative;
    margin-top: 307px;
    width: 400px;
    height: 200px;
    right: 310px;
    top: 40px;
}

.lixo{
    position: relative;
    top: -66px;
    width: 330px;
    height: 230px;
    left: 219px;
}

.lixo2{
    position: relative;
    top: -66px;
    width: 330px;
    height: 230px;
    left: 219px;
}

.linhaSOBRE{
    position: relative;
    background-color: rgb(19, 88, 19);
    padding: 1px;
    top: -73px;
    left: 246px;
    max-width: 500px;
    box-shadow: 0 4px 8px rgba(109, 218, 8, 0.5);
}